.header {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:thistle;
    margin-top: -3%;
    text-shadow: 10px 2px 30px rgb(214, 208, 208);
}